<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Memsource Demo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<form action="#" th:action="@{/submit}" method="post">
    <p>User name: <input type="text" name="userName"/></p>
    <p>Password: <input type="password" name="password"/></p>
    <span style="color: red" th:if="${error != null}" th:text="${error}"></span>
    <p><input type="submit" value="Submit"/></p>
</form>

</body>
</html>